#################################################
# Exclude all by default
#################################################
*

#################################################
# Allowed folders
#################################################
!parking_permits*
!project*
!users*
!locale*
!etc-pki-entitlement*

#################################################
# Allowed files
#################################################
!docker-entrypoint.sh
!gunicorn.conf.py
!manage.py
!requirements*
!wait-for-it.sh
