#################################################
# Exclude all by default
#################################################
*

#################################################
# Allowed folders
#################################################
!parking_permits_app*
!project*
!users_app*
!locale*

#################################################
# Allowed files
#################################################
!docker-entrypoint.sh
!gunicorn.conf.py
!manage.py
!requirements*
!wait-for-it.sh
