#################################################
# Exclude all by default
#################################################
*

#################################################
# Allowed folders
#################################################
!parking_permits_app*
!project*
!users_app*

#################################################
# Allowed files
#################################################
!docker-entrypoint.sh
!manage.py
!requirements*
